.finali h2{
    font-family: 'Viga', sans-serif;
    color: rgb(222, 147, 18);
    font-size: 40px;
   
  }
  .codigo h2{
    font-family: 'Viga', sans-serif;
    color: rgb(222, 147, 18);
    font-size: 40px;
  }
  .cuerpo3{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
.cuerpo3,.finali,.codigo{
    margin: auto;
}

/*formulario*/
.secciones .caja1{
    width: 65%;
    border-radius: 4px;
    font-family: 'Viga', sans-serif;
    color: rgb(255, 255, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: auto;
}
.caja_for1 .controls{
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #eaecef11;
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background:  rgba(216, 153, 34, 0.195);
}


.caja_for2 .controls{
    width:130%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #eaecef11;
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background:  rgba(216, 153, 34, 0.195);
}
.caja_for2{
    padding-left: 200px;
}

/*SECCION1*/

.secciones1 .caja2{
  border-radius: 4px;
  font-family: 'Viga', sans-serif;
  color: rgb(255, 255, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: auto;
  margin-left: 5%;
}
.caja_for3{
  width:55%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'Viga', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}


#caja_for4{
  background-color: rgba(237, 230, 230, 0.691);
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Viga', sans-serif;  
  border-radius: 10px;
  width: 40%;
  margin-left: 30px;
  margin-top: 50px;
}

#caja_for4 p,ol{
  text-align: center;
  color: black;
}

#caja_for4 li{
  text-align: justify;
}

.caja_for3 .domi{
  background-color: rgba(255, 174, 0, 0.466);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-family: 'Viga', sans-serif;  
  border-radius: 10px;
  border: 3px dotted black;
}

/*boton de enviar pedido*/
.boton_enviar{
  margin: auto;
  font-size:20px;
  text-align: center;
  font-family: 'Viga', sans-serif;
}
.btn,.boton_enviar{
  border-radius: 10px;
  margin-top: 20px;
}
.form-select{
  width: 40%;
}