{% extends 'core/base.html' %}

{% load static %}
<title>{% block title %}Mountain Burger{% endblock %}</title>

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/sesion.css' %}">


<div id="formulario">
    <h2>INICIAR SESIÓN</h2>
    <form action="#" method="POST" onsubmit="return validarFormulario()">
        {% csrf_token %} 
        <input type="text" id="email" placeholder="Email" required>
        <input type="password" id="contrasena" placeholder="Contraseña" required>
        <input class="btn btn-outline-warning" type="submit" value="Iniciar sesión">
    </form>
    <span id="credencialesError" class="error"></span>
    <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    <a href="{% url 'Formu' %}">¿Olvidaste tu contraseña?</a>

</div>
</div>

<script>
    function validarFormulario() {
        var email = document.getElementById("email").value;
        var contrasena = document.getElementById("contrasena").value;

        document.getElementById("credencialesError").innerHTML = "";


        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(email)) {
            document.getElementById("credencialesError").innerHTML = "Por favor, ingresa un correo electrónico válido.";
            return false;
        }

        if (contrasena === "") {
            document.getElementById("credencialesError").innerHTML = "Por favor, ingresa una contraseña válida.";
            return false;
        }

        if (email !== "usuario@example.com" || contrasena !== "contraseña123") {
            document.getElementById("credencialesError").innerHTML = "Email o contraseña incorrectos.";
            return false;
        }

        var mensajeBienvenida = document.createElement("p");
        mensajeBienvenida.innerHTML = "¡Bienvenido!";
        document.getElementById("formulario").appendChild(mensajeBienvenida);
        setTimeout(function () {
            mensajeBienvenida.style.opacity = "0";
        }, 3000);

        return true;
    }
</script>

{% endblock %}
